{% extends 'layout.html' %}

{% block content %}


<p class="h1 mb-3">Dataset Registration</p>
<form class="row" method="POST" enctype="multipart/form-data">
    
    <div class="col col-12 col-md-6 mb-3">
        <label class="form-label">Dataset name</label>
        <input class="form-control" required id='name' name='name'>
    </div>
    <div class="col col-12 col-md-6 mb-3">
        <label class="form-label">Short description</label>
        <input class="form-control" required name='description'>
    </div>
    <div class="col col-12 col-md-6 mb-3">
        <label class="form-label">Completion date</label>
        <input type="date" class="form-control" required name='completion_date'>
    </div>
    <div class="col col-12 col-md-6 mb-3">
        <label class="form-label">Additional Notes</label>
        <input  class="form-control" required name='notes'>
    </div>

    <div class="col col-12 mb-3">
        <label class="form-label">Upload dataset file</label>
        <input class="form-control" id="dataset" name='dataset' type="file" required>
    </div>

    <div class="d-flex justify-content-end">
        <button class="btn btn-success"><i class="bi bi-plus me-2"></i>Register Dataset</button>
    </div>
</form>

<p class="h1 mb-3 mt-5">File Preview</p>
<p>CSV contents will be displayed here.</p>
<div id="handsontable-container" style="pointer-events: none;" class="mt-5"></div>

<script>
    var input = document.getElementById('dataset');
    
    var handsontableContainer = document.getElementById('handsontable-container');

    input.onchange = function () {
    var file = this.files[0]
    var reader = new FileReader()

    reader.onload = function (e) {
        var csv = e.target.result
        var data = Papa.parse(csv, {
        header: true,
        skipEmptyLines: true
        })
        // reset container
        handsontableContainer.innerHTML = ''
        handsontableContainer.className = ''

        Handsontable(handsontableContainer, {
        data: data.data,
        colHeaders: data.meta.fields,
        columnSorting: true
        })
    }

    file && reader.readAsText(file)
    }
</script>

{% endblock %}